@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:hsl(0, 0%, 95%) ;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow: auto;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
.head{
    display: flex;
    margin-left: 42%;
    margin-top: 40px;
    gap: 50px;
    margin-bottom: 5%;
}
.head a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: xx-large;
    color: rgb(111, 101, 101);
    font-weight: 900;
    font-family: 'Fascinate Inline', cursive;
}
.head a:hover{
    color: black;
    transition: 1s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 5px;
}
h3{
    color:hsl(0, 0%, 95%) ;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 1.5rem;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 2rem;
    text-align: left;
    
}
.sedans{
    position: relative;
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
    max-width: 268px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.suvs{
    background-color:hsl(184, 100%, 22%) ;
    padding: 25px;
    max-width: 268px;
    height: 450px;
    position: relative;
}
.luxury{
    position: relative;
    background-color:hsl(179, 100%, 13%);
    padding: 25px;
    max-width: 268px;
    height: 450px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    position: absolute;
    display: inline-block;
    bottom: 42px;
    padding: 10px;
    border-radius: 18px;
    text-align: center;
    border-style: none;
    width: 8em;
    background-color: hsl(0, 0%, 95%);
    transition: all 0.4s ease-in-out;
}
button:hover {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
}
.sedans button {
    color:hsl(31, 77%, 52%);
}
.sedans button:hover {
    color: hsl(0, 0%, 95%);
}
.suvs button {
    color: hsl(184, 100%, 22%)
}
.suvs button:hover {
    color: hsl(0, 0%, 95%);
}
.luxury button {
    color: hsl(179, 100%, 13%);
}
.luxury button:hover {
    color: hsl(0, 0%, 95%);
}
@media(max-width: 375px){
    .container{
        flex-direction: column;
        display: block;
        padding: 0 0 0 50px;
    }
    .head{
        margin-left: 22%;
    }
    .sedans{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .luxury{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}



/* GRID */


.house{
    display: grid;
    width: 100%;
    grid-template-areas: 
         'a a b'
         'c d d'
         'c e e'
    ;
    gap: 10px;
    margin: auto;
    margin-top: 7%;
    height: 70vh;
}
.house div{
    text-align: center;
    padding: 2em;
    display: flex;
    place-items: center;
}
.item-a{
    background-color: orangered;
    grid-area: a;
}
.item-b{
    background-color: orange;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;
}
.item-d{
    background-color: blue;
    grid-area: d;
}
.item-e{
    background-color: blue;
    grid-area: e;
}

@media(max-width: 375px){
    .house{
        padding: 20px;
    }
}
